body {
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color:rgb(43, 174, 226);
    margin: 0 auto;
}

header {
    background-color: rgb(57, 32, 223);
    height: 100px;
    margin-top: 0;
}